* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

$generalMargin: 0 20px 0;

body {
    background-color: #01528B;
}

;

.displayNone {
    display: none;
}

header {
    margin-bottom: 30px;

    h1 {
        text-align: center;
        margin-top: 50px;
        text-shadow: 0 0 4px black;
    }
}

#login.displayNone {
    display: none;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $generalMargin;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    section {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 7px;

            input {
                width: 200px;
                margin-bottom: 5px;
                color: black;
            }

            button {
                width: 100px;
                color: black;
            }
        }
    }

    section:last-child {
        margin-top: 30px;
    }
}

#userView {
    margin: $generalMargin;

    .addTask {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px 0;
        background-color: rgb(37, 39, 60);
        border-radius: 20px;

        h2 {
            text-align: center;
            margin-bottom: 10px;
        }

        form {
            display: grid;
            grid-template-areas:
                'taskName taskName taskName'
                'taskCategoryWork taskCategoryHome taskCategoryOther'
                'taskDate taskDate button';
            row-gap: 12px;
            align-items: center;
            justify-items: center;

            textarea {
                grid-area: taskName;
                display: block;
                resize: none;
                height: 70px;
                width: 250px;
                color: black;
                border-radius: 10px;
                padding: 3px;
                font-size: 16px;
            }

            input[type=radio] {
                display: none;
            }

            label[for=work] {
                grid-area: taskCategoryWork;
            }

            label[for=home] {
                grid-area: taskCategoryHome;
            }

            label[for=other] {
                grid-area: taskCategoryOther;
            }

            label {
                display: block;
                width: 75px;
                text-align: center;
                border: 2px solid #ddd;
                transform: skewX(45deg);
                transition: .3s linear;
                cursor: pointer;
                border-radius: 5px;

                span {
                    display: block;
                    transform: skewX(-45deg);
                    font-size: 14px;
                    transition: .3s linear;
                }
            }

            label:hover {
                background-color: #ddd;


                span {
                    color: black;
                    font-weight: bold;
                }
            }

            label.chosenCategory {
                background-color: #ddd;

                span {
                    color: black;
                    font-weight: bold;
                }
            }

            input[type=date] {
                grid-area: taskDate;
                color: black;
                margin-right: 20px;
                width: 130px;
                height: 30px;
                justify-self: start;
                border-radius: 10px;
                padding-left: 3px;
            }

            input:focus {
                outline: none;
            }

            button {
                grid-area: button;
                width: 75px;
                height: 30px;
                font-size: 16px;
                background-color: transparent;
                border: 2px solid #ddd;
                border-radius: 10px;
                cursor: pointer;
                transition: .3s linear;
            }

            button:hover {
                background-color: #ddd;
                color: black;
                font-weight: bold;
            }
        }
    }
}