* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

$generalMargin: 0 20px 0;

body {
    background-color: #01528B;
}

;

.displayNone {
    display: none;
}

header {
    margin-bottom: 30px;

    h1 {
        text-align: center;
        margin-top: 50px;
        text-shadow: 0 0 4px black;
    }
}

#login.displayNone {
    display: none;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $generalMargin;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    section {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 7px;

            input {
                width: 200px;
                margin-bottom: 5px;
                color: black;
            }

            button {
                width: 100px;
                color: black;
            }
        }
    }

    section:last-child {
        margin-top: 30px;
    }
}

#userView {
    margin: $generalMargin;

    .addTask {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            margin-bottom: 10px;
        }

        form {
            display: grid;
            grid-template-areas:
                'taskName taskName'
                'taskCategory taskDate'
                'taskCategory button';
            width: 280px;

            input[type=text] {
                grid-area: taskName;
                color: black;
                margin-bottom: 5px;
                height: 30px;
            }

            fieldset {
                grid-area: taskCategory;
                border: none;
                font-size: 14px;

                legend {
                    font-weight: bold;
                }
            }

            input[type=date] {
                grid-area: taskDate;
                margin-bottom: 5px;
                color: black;
            }

            button {
                grid-area: button;
                color: black
            }
        }
    }
}