* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

body {
    background-color: #01528B;
}

;

.displayNone {
    display: none;
}

header {
    h1 {
        text-align: center;
        margin-top: 50px;
        text-shadow: 0 0 4px black;
    }
}

#login.displayNone {
    display: none;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 0;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    section {
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 7px;

            input {
                width: 200px;
                margin-bottom: 5px;
                color: black;
            }

            button {
                width: 100px;
                color: black;
            }
        }
    }

    section:last-child {
        margin-top: 30px;
    }
}